<style>
    .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
    }

    .example-full-width {
        width: 100%;
    }
</style>
<form class="example-form">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Contry" floatLabel="always" [formControl]="countryFormControl">
        <mat-label>Country</mat-label>
        <mat-error *ngIf="countryFormControl.hasError('required')">
            Country is <strong>&nbsp;required</strong>
        </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="City" [formControl]="cityFormControl">
        <mat-error *ngIf="cityFormControl.hasError('required')">
            City is <strong>&nbsp;required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Street</mat-label>
        <input matInput placeholder="Street" [formControl]="streetFormControl">
        <mat-error *ngIf="streetFormControl.hasError('required')">
            Street is <strong>&nbsp;required</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Number</mat-label>
        <input matInput placeholder="Number" [formControl]="numberFormControl">
        <mat-error *ngIf="numberFormControl.hasError('required')">
            Number is <strong>&nbsp;required</strong>
        </mat-error>
        <mat-error *ngIf="numberFormControl.hasError('pattern')">
            Number has to be <strong>&nbsp;a positive number less than 10000</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Apartment</mat-label>
        <input matInput placeholder="Apartment" [formControl]="apartmentFormControl">
        <mat-error *ngIf="apartmentFormControl.hasError('pattern')">
            Apartment has to be <strong>&nbsp;a positive number less than 10000</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Description" label="Description"
            [formControl]="descriptionFormControl"></textarea>
        <mat-label>Description</mat-label>
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Company</mat-label>
        <input matInput placeholder="Search for a company" [matAutocomplete]="auto" [formControl]="companyFormControl"
            (keyup)="updateAutocomplete()">
        <mat-error *ngIf="companyFormControl.hasError('required')">
            Company is <strong>&nbsp;required</strong>
        </mat-error>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCompany($event)">
            <mat-option *ngFor="let suggestion of suggestions" [value]="suggestion">
                {{suggestion}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="add()">Add</button>
    <button mat-raised-button color="warn" (click)="cancel()">Back</button>
</form>