<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  #TableContainer {
    display: flex;
    margin-left: 5%;
    width: 90%;
  }

  body {
    height: 120%;
  }

  #TableContainer>div {
    display: flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    height: 635px;
  }

  #TableContainer>div>table {
    width: 100%;
  }

  #TableContainer>div>div>div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    font-size: 25px;
  }

  #TableContainer>div>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    width: 50%;
    left: 25%;
  }
</style>

<body>
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Name" floatLabel="always" [formControl]="nameFormControl">
      <mat-label>Name</mat-label>
      <mat-error *ngIf="nameFormControl.hasError('required')">
        Name is <strong>&nbsp;required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <textarea matInput label="Description" [formControl]="descriptionFormControl"></textarea>
      <mat-label>Description</mat-label>
      <mat-error *ngIf="descriptionFormControl.hasError('required')">
        Description is <strong>&nbsp;required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Net Worth</mat-label>
      <input matInput placeholder="Net worth" [formControl]="netWorthFormControl">
      <mat-error *ngIf="netWorthFormControl.hasError('required')">
        Net worth is <strong>&nbsp;required</strong>
      </mat-error>
      <mat-error *ngIf="netWorthFormControl.hasError('pattern')">
        Net worth has to be <strong>&nbsp;a positive number</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Reputation</mat-label>
      <input matInput placeholder="Reputation" [formControl]="reputationFormControl">
      <mat-error *ngIf="reputationFormControl.hasError('required')">
        Reputation is <strong>&nbsp;required</strong>
      </mat-error>
      <mat-error *ngIf="reputationFormControl.hasError('pattern')">
        Reputation has to be<strong>&nbsp;an integer between 0 and 100</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Start Year</mat-label>
      <input matInput placeholder="Start Year" [formControl]="startYearFormControl">
      <mat-error *ngIf="startYearFormControl.hasError('required')">
        Start year is <strong>&nbsp;required</strong>
      </mat-error>
      <mat-error *ngIf="startYearFormControl.hasError('pattern')">
        Start year has to be <strong>&nbsp;a positive number</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="edit()">Edit</button>
    <button mat-raised-button color="warn" (click)="delete($event)">Delete</button>
    <button mat-raised-button color="primary" (click)="cancel()">Back</button>
    <br>
  </form>

  <div id="TableContainer">
    <app-static-table [id]="company!.id!" [router]="router" [baseUrl]="baseUrlPeople" [displayedColumns]="peopleColumns"
      [dynamicColumns]="peopleColumns" [entities]="peopleWorkingHere"></app-static-table>
    <app-static-table [id]="company!.id!" [router]="router" [baseUrl]="baseUrlLocations"
      [displayedColumns]="locationsColumns" [dynamicColumns]="locationsColumns"
      [entities]="locations"></app-static-table>

  </div>
</body>