<style>
  nav {
    display: flex;
    position: sticky;
    background-color: blue;
    height: 45px;
    font-size: 27px;
  }

  nav a {
    margin-right: 20px;
    color: aliceblue;
  }
</style>

<nav>
  <a routerLink="">Home</a>
  <a routerLink="companies">Companies</a>
  <a routerLink="locations">Locations</a>
  <a routerLink="people">People</a>
  <a routerLink="pc">People Working at Companies</a>
  <a routerLink="companies/by-avg-salary">Average Salary of Workers in a Company</a>
</nav>

<router-outlet></router-outlet>
