<style>
  nav {
    display: flex;
    position: sticky;
    background-color: blue;
    height: 45px;
    font-size: 27px;
  }

  nav a {
    margin-right: 20px;
    color: aliceblue;
  }

  button {
    color: aliceblue !important;
    margin-right: 20px;
    font-size: 20px;
  }
</style>

<nav>
  <button mat-button routerLink="">Home</button>
  <button mat-button [matMenuTriggerFor]="companiesMenu">Companies</button>
  <mat-menu #companiesMenu="matMenu">
    <button mat-menu-item routerLink="companies">View All</button>
    <button *ngIf="manageAccountServ.isLoggedIn()" mat-menu-item routerLink="companies/add">Add</button>
    <button mat-menu-item [matMenuTriggerFor]="companiesStatisticsMenu">Statistics</button>
    <mat-menu #companiesStatisticsMenu>
      <button mat-menu-item routerLink="companies/by-avg-salary">Average Salary of Workers of a Company</button>
      <button mat-menu-item routerLink="companies/by-nr-locations">Nr Locations of a Company</button>
      <button mat-menu-item routerLink="companies/reputation-greater-than">Filter By Reputation</button>
    </mat-menu>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="locationsMenu">Locations</button>
  <mat-menu #locationsMenu="matMenu">
    <button mat-menu-item routerLink="locations">View All</button>
    <button *ngIf="manageAccountServ.isLoggedIn()" mat-menu-item routerLink="locations/add">Add</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="peopleMenu">People</button>
  <mat-menu #peopleMenu="matMenu">
    <button mat-menu-item routerLink="people">View All</button>
    <button *ngIf="manageAccountServ.isLoggedIn()" mat-menu-item routerLink="people/add">Add</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="pcMenu">People Working at Companies</button>
  <mat-menu #pcMenu="matMenu">
    <button mat-menu-item routerLink="pc">View All</button>
    <button *ngIf="manageAccountServ.isLoggedIn()" mat-menu-item routerLink="pc/add">Add</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="statisticsMenu">Statistics</button>
  <mat-menu #statisticsMenu="matMenu">
    <button mat-menu-item routerLink="companies/by-avg-salary">Average Salary of Workers of a Company</button>
    <button mat-menu-item routerLink="companies/by-nr-locations">Nr Locations of a Company</button>
    <button mat-menu-item routerLink="companies/reputation-greater-than">Filter Company By Reputation</button>
  </mat-menu>
  <div *ngIf="manageAccountServ.isLoggedIn()">
    <button mat-button routerLink="users/profile">Logged in as {{manageAccountServ.getUser()}}</button>
    <button mat-button (click)="logOut()">Log Out</button>
  </div>
  <div *ngIf="manageAccountServ.isLoggedOut()">
    <button mat-button routerLink="register">Register</button>
    <button mat-button routerLink="login">Log In</button>
  </div>
  <div *ngIf="manageAccountServ.isLoggedInAsAdmin()">
    <button mat-button routerLink="users">Users</button>
  </div>
</nav>
<app-error-messages></app-error-messages>

<router-outlet></router-outlet>