<div class="container">
  <label for="FirstName">First Name:</label>
  <span id="FirstName">{{user?.first_name}}</span>
  <br>
  <label for="LastName">Last Name:</label>
  <span id="LastName">{{user?.last_name}}</span>
  <br>
  <label for="University">University:</label>
  <span id="University">{{user?.university}}</span>
  <br>
  <label for="HighSchool">High School:</label>
  <span id="HighSchool">{{user?.high_school}}</span>
  <br>
  <label for="Bio">Bio:</label>
  <br>
  <textarea disabled id="Bio">{{user?.bio}}</textarea>
</div>