<div class="container">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input [readonly]="true" matInput placeholder="Username" [formControl]="usernameFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input [readonly]="true" matInput placeholder="E-mail" [formControl]="emailFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input [readonly]="true" matInput placeholder="First Name" [formControl]="firstNameFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input [readonly]="true" matInput placeholder="Last Name" [formControl]="lastNameFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>University</mat-label>
    <input [readonly]="true" id="University" matInput placeholder="University" [formControl]="universityFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>High School</mat-label>
    <input [readonly]="true" id="HighSchool" matInput placeholder="High School" [formControl]="highSchoolFormControl">
  </mat-form-field>
  <br>

  <mat-form-field class="example-full-width">
    <mat-label>Bio</mat-label>
    <textarea [readonly]="true" matInput placeholder="Bio" [formControl]="bioFormControl"></textarea>
  </mat-form-field>
  <br>
</div>