<style>
.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}
</style>
<button mat-raised-button color="primary" (click)="addCompany()">+ ADD New Company</button><button mat-raised-button color="primary" (click)="sortCompaniesByReputation()">Sort by Reputation</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>#</th>
    <td mat-cell *matCellDef="let i = index"><a routerLink="companies/">{{i + 1}}</a></td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">{{element.description}}</td>
  </ng-container>

  <ng-container matColumnDef="net-worth">
    <th mat-header-cell *matHeaderCellDef>Net worth</th>
    <td mat-cell *matCellDef="let element">{{element.net_value}}</td>
  </ng-container>

  <ng-container matColumnDef="reputation">
    <th mat-header-cell *matHeaderCellDef>Reputation</th>
    <td mat-cell *matCellDef="let element">{{element.reputation}}</td>
  </ng-container>

  <ng-container matColumnDef="nr-workers">
    <th mat-header-cell *matHeaderCellDef>Nr. Workers</th>
    <td mat-cell *matCellDef="let element">{{element.nr_workers}}</td>
  </ng-container>

  <ng-container matColumnDef="nr-locations">
    <th mat-header-cell *matHeaderCellDef>Nr. Locations</th>
    <td mat-cell *matCellDef="let element">{{element.nr_locations}}</td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let element;">
        <button mat-mini-fab color="warn" (click)="delete($event, element.id)">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
    
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
      mat-row
      (click)="goToDetails(element.id)"
      *matRowDef="let row; columns: displayedColumns; let element;"
  ></tr>
</table>