<style>
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }
</style>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="First Name" floatLabel="always" [formControl]="firstNameFormControl">
    <mat-label>First Name</mat-label>
    <mat-error *ngIf="firstNameFormControl.hasError('required')">
      First Name is <strong>&nbsp;required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Last Name" [formControl]="lastNameFormControl">
    <mat-error *ngIf="lastNameFormControl.hasError('required')">
      Last Name is <strong>&nbsp;required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>E-mail</mat-label>
    <input matInput placeholder="E-mail" [formControl]="emailFormControl">
    <mat-error *ngIf="emailFormControl.hasError('required')">
      E-mail is <strong>&nbsp;required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input matInput placeholder="Age" [formControl]="ageFormControl">
    <mat-error *ngIf="ageFormControl.hasError('required')">
      Age is <strong>&nbsp;required</strong>
    </mat-error>
    <mat-error *ngIf="ageFormControl.hasError('pattern')">
      Age has to be <strong>&nbsp;a positive number less than 200</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Worker ID</mat-label>
    <input matInput placeholder="Worker ID" [formControl]="workerIDFormControl">
    <mat-error *ngIf="workerIDFormControl.hasError('required')">
      Worker ID is <strong>&nbsp;required</strong>
    </mat-error>
    <mat-error *ngIf="workerIDFormControl.hasError('pattern')">
      Worker ID has to be <strong>&nbsp;a positive number less than 10000000</strong>
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="edit()">Add</button>
  <button mat-raised-button color="warn" (click)="this.delete($event)">Delete</button>
  <button mat-raised-button color="primary" (click)="cancel()">Back</button>
</form>