.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
  max-height: 50px;
  overflow: hidden;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.pagination_nav {
  display: flex;
  justify-content: space-evenly;
}

.actual {
  font-weight: bolder;
  text-decoration-line: underline;
}

.pag_nav_link {
  color: blue;
  cursor: pointer;
}